<!-- Posts -->
<style>
.blog {
    background-color: #696969;
  }
</style>

{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].posts.section | default: "posts" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].posts.title | default: "Blog Posts" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-left">
        <div class="large text-muted">
            <div class = 'blog'>
            <ul>
            {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.posts.section | default: "posts" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].posts.title | default: "Blog Posts" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-left">
        <div class="large text-muted">
            <div class = 'blog'><ul>
            {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End About -->